requests~=2.31.0
pytest~=7.3.2
Faker~=19.6.2
structlog~=23.1.0
curlify~=2.2.1
pydantic~=2.3.0
pyhamcrest~=2.0.4
psycopg2~=2.9.7
records~=0.5.3
SQLAlchemy~=1.4.46
vyper-config~=1.1.1
allure-pytest~=2.13.2
protobuf~=4.24.3
grpcio~=1.59.0
betterproto~=2.0.0b6
grpclib~=0.4.5
pytest-asyncio~=0.21.1